# Composer
composer.lock
composer.phar
vendor
composer.json

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# User themes
themes/*
!themes/index.html
!themes/skull/*
!themes/uikit/*

# User config
config.php
config/*
.htaccess
!config/config.php

# logic
lib/*
plugins/*
!plugins/puik/*

# misc
index.php
license.txt
changelog.txt
